<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AppPackager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="startupFolder" value="C:\Temp\ClickonceTesting\"/>
    <add key="sourceDllFolder" value="c:\Demos\DemoAsyPlanner"/>
    <add key="localizationFolderList" value="es,it-IT,pt,sv"/>
    <add key="magePath" value="C:\Program Files (x86)\Microsoft SDKs\Windows\v7.0A\Bin\"/>
    <add key="certificatePath" value="C:\Temp\ClickonceTesting\BEN-ASY\AssemblyPlanner_BEN.pfx"/>
  </appSettings>
  <userSettings>
    <AppPackager.Properties.Settings>
      <setting name="DefaultTargetVersion" serializeAs="String">
        <value>7.9.2.0</value>
      </setting>
    </AppPackager.Properties.Settings>
  </userSettings>
</configuration>